@import '~@fluentui/react/dist/sass/References.scss';

.lunchroomSupervisors {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
.empCard{
  margin-top: 20px;
  display: flex;
  align-items: center;
  .empJobTitle{
    font-size: 11px;
    color: #666;
  }
  .empPersonaCntnr{
    width: 260px;
    box-shadow: 0px 0px 3px 2px #ddd;
    padding: 20px;
    margin-right: 10px;
    border-right: 1px solid #ddd;
    .empPersona{
      width: auto;
    }
  }
  .allocationsChoices{
    display: flex;
    .allocBtn{
      height: 90px;
      width: 80px;
      margin: 0 5px;
    }
  }
}

.yearChoices{
  display: block;
}


.empLocations{
  display: block;
}

.empCardAlloc{
  display: block;
}

.allocTop{
  display: flex;
}
.allocBottom{
  display: flex;
  justify-content: flex-end;
}

.crc{
  float:right;
}

.allocEmailBtn{
  span{
    font-size: 11px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}